<% layout('layout') -%>
    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">

            <img src="assets/images/welcome-giftLogo.png" height="100 px">
            <p class="lead">Giftology is a simple to use, gift management app, that will help you keep track of the people you care. You
                will be able to search gift ideas, assign them to your contacts and share lists with family and friends.</p>
            <form>
                <div class="form-group row">

                    <div class="col-8">
                        <input class="form-control" type="text" value="" id="example-text-input">
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-primary"> Find gifts </button>
                    </div>
            </form>

        </header>