<% layout('layout') -%>
    <!-- Page Content -->
    <div class="container">

        <!-- Header -->

        <form>
            <div class="form-group row">

                <div class="col-8">
                    <input class="form-control" type="text" value="" id="example-text-input">
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary"> Find gifts </button>
                </div>
        </form>
        <br>
        <br>
        <br>



        <!-- Product return -->
        <div class="row text-center">

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Product Name</h5>
                        <p>Product Price</p>
                        <p class="card-text">Description here</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Add to List</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Product Name</h5>
                        <p>Product Price</p>
                        <p class="card-text">Description here</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Add to List</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Product Name</h5>
                        <p>Product Price</p>
                        <p class="card-text">Description here</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Add to List</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Product Name</h5>
                        <p>Product Price</p>
                        <p class="card-text">Description here</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Add to List</a>
                    </div>
                </div>
            </div>

        </div>


        </div>